---
import "@fontsource-variable/inter";
import Navbar from "../components/Navbar";
import PageAnimation from "../components/PageAnimation";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    {description && <meta property="og:description" content={description} />}
    <meta name="theme-color" content="#FF9C17" />
    <title>{title}</title>
  </head>
  <body
    class="bg-gradient-to-br from-neutral-900 to-neutral-950 font-sans text-white"
  >
    <div class="flex min-h-screen flex-row justify-center md:p-0">
      <div class="w-full md:w-[800px]">
        <Navbar />
        <PageAnimation client:load>
          <main>
            <slot />
          </main>
        </PageAnimation>
      </div>
    </div>
  </body>
</html>
