---
import "../styles/global.css";
import "@fontsource-variable/inter";
import Navbar from "../components/Navbar";
import PageAnimation from "../components/PageAnimation";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
const { PUBLIC_PLAUSIBLE_DOMAIN, PUBLIC_PLAUSIBLE_URL } = import.meta.env;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    {
      description && (
        <>
          <meta name="description" content={description} />
          <meta property="og:description" content={description} />
        </>
      )
    }
    <meta name="theme-color" content="#FF9C17" />
    {
      PUBLIC_PLAUSIBLE_DOMAIN && PUBLIC_PLAUSIBLE_URL && (
        <script
          defer
          data-domain={PUBLIC_PLAUSIBLE_DOMAIN}
          src={`${PUBLIC_PLAUSIBLE_URL}/js/script.outbound-links.js`}
        />
      )
    }
    <title>{title}</title>
  </head>
  <body class="bg-neutral-900 font-sans text-white">
    <div class="mx-auto min-h-screen max-w-[800px]">
      <Navbar />
      <PageAnimation client:load>
        <main>
          <slot />
        </main>
      </PageAnimation>
    </div>
  </body>
</html>
